body {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .navbar-light {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .navbar-light .navbar-brand,
.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.dark-mode .navbar-light .navbar-nav .nav-item .btn {
    color: #ffffff;
    background-color: #555;
    border-color: #444;
}

.dark-mode table,
.dark-mode th,
.dark-mode td {
    color: #ffffff;
    border-color: #555;
}